<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="topnav">
  <a style="float: left; font-size: 20px;">TRAVEL ME 360</a>
  <a style="padding-left: 50px; font-size: 15px;">HOME</a>
  <a style="font-size: 15px;">FLIGHTS</a>
  <a style="font-size: 15px;">DESTINATIONS</a>
  <a style="font-size: 15px;">HOLIDAYS</a>
  <a style="font-size: 15px;">PROMOTIONS</a>
</div>
<div class="box">
  <img src="../assets/img/beachdark.jpg" alt="beachdark" style="width: 100%; height: auto;">
  <div class="text">
      <h1 style="font-size: 80px; padding-left: 200px;">Discover<br>A new Place</h1>
      <br>
      <br>
      <br>
      <p style="font-size: 20px; padding-left: 200px;">Travel to the any corner of the world, without going<br>around in circles</p>
      <br>
      <br>
      <strong style="font-size: 20px; padding-left: 200px;">FIND YOUR HOLIDAY
      </strong>
      <br>
      <br>
      <br>
      <div class="table-responsive">
        <table style="font-family: Arial, Helvetica, sans-serif;margin-left:auto;margin-right:auto;">
          <tr>
            <th style="text-align: center;">Destination</th>
            <th style="text-align: center;">Departure Date</th>
            <th style="text-align: center;">Return Date</th>
            <th style="text-align: center;">Number of Guests</th>
          </tr>
          <tr>
            <td style="width: auto;">
              <div class="dropdown">
              <select style="height: 46px;">
                <option value="0">Italy - Rome</option>
                <option value="1">France - Paris</option>
                <option value="2">China - Beijing</option>
              </select>
            </div>
            </td>
            <td style="width: auto;">
              <input style="height: 46px; width: auto; color: black;" id="date" type="date" name="departdate">
            </td>
            <td style="width: auto;">
              <input style="height: 46px; width: auto; color: black;" id="arrdate" type="date" name="arrivaldate">
            </td>
            <td style="width: auto;">
              <div class="dropdown">
                <select style="height: 46px;">
                  <option value="0">1 Guest</option>
                  <option value="1">2 Guests</option>
                  <option value="2">3 Guests</option>
                  <option value="2">4 Guests</option>
                </select>
              </div>
            </td>
            <td style="width: auto;">
              <button type="button" class="btn btn-warning" style="height: 44px; width: auto;color: white; background-color: orange;">Search</button>
            </td>
          </tr>
        </table>
      </div>
      </div>
      </div>
  <br>
  <div>
    <table style="font-family: Arial, Helvetica, sans-serif;">
<tr>
  <td>
    <video width="640" height="480" controls style=" padding-left: 50px;">
      <source src="../assets/img/travelvideo.mp4" type="video/mp4">
      <source src="../assets/img/travelvideo.ogg" type="video/ogg">
      Video is Not Available
    </video>
  </td>
  <td>
    <br>
    <br>
    <p style="color: grey; text-align: left; padding-left: 100px; font-family: Arial, Helvetica, sans-serif;">Welcome to Travel Me 360</p>
    <strong style="font-family: Arial, Helvetica, sans-serif; padding-left: 100px; font-size: 40px;">The Best Travel Agency</strong>
    <p style="font-family: Arial, Helvetica, sans-serif; text-align: left; padding-left: 100px; width: 70%;">As a country blessed with incomparable natural charm, as well a rich cultural heritage spanning nearly 3 millennia, Sri Lanka possesses immense potential for inbound tourism.

      With a view to tapping this lucrative segment, Traveller Global Destinations & Leisure Holidays (Pvt) Ltd was
      incorporated in 2002, as a subsidiary of The Traveller Global (Pvt) Ltd. Our parent company was formed by
      Chairman/CEO, Mr. Mohamed Rizmi Reyal, who hails from an established business family in
      Kandy and counts over 20 years’ in the travel & tourism industry. The Traveller Global (Pvt) Ltd is currently
      Sri Lanka’s largest outbound travel operator, counting foreign Embassies, NGOs, blue-chip corporates, Recruitment
      Agencies and leading personages among its established clientele.

      Our Company, Traveller Global Destinations & Leisure Holidays (Pvt) Ltd, functions under the stewardship of
      Mr. Ramzi Reyal, who is a respected and well-known personality in the travel & tourism industry. His ‘Hands-on’
      approach and personal involvement in all aspects of day-to-day operations is an asset to the company.
    </p>
    <img src="../assets/img/socialmediaicon.PNG" alt="socialmediaicon" style="padding-left: 100px;">
  </td>
</tr>

  </table>
  <br>
  <br>
  <div style="text-align: center;">
    <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 60px;">Popular Destination</h1>
    <p style="color: grey; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
    Here below you will find the popular destination that we offer</p>
      <br>
      <div class="container">
        <img src="../assets/img/rome.jpg" alt="Italy" class="img-rounded" style="height: 261px;">
        <div class="middle">
          <div class="texts">Rome (Italy)</div>
        </div>
      </div>

      <div class="container">
        <img src="../assets/img/paris.jpg" alt="France" class="img-rounded" style="height: 261px;">
        <div class="middle">
          <div class="texts">Paris (France)</div>
        </div>
      </div>

      <div class="container">
        <img src="../assets/img/beijing.jpg" alt="China" class="img-rounded" style="height: 261px;">
        <div class="middle">
          <div class="texts">Beijing (China)</div>
        </div>
      </div>
  </div>
  <p style="font-size: 30px; color: white;">hol</p>
<div style="text-align: center;">
  <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 60px;">Popular Holiday</h1>
  <p style="color: grey; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
    Here below you will find the popular holiday offers that we are offering currently</p>
    <br>
    <br>
      <div class="container">
        <img src="../assets/img/newyork.jpg" alt="USA" class="img-rounded" style="height: 200px; width: 400px;">
        <strong style="font-size: 20px; float: left;font-size: 30px;">United States</strong>
        <strong style="font-size: 20px;float: right; color: orange; padding-right: 20px;font-size: 30px;">$300</strong>
        <br>
        <br>
        <img src="../assets/img/starpic.PNG" alt="starpic" style="float: left; width: auto; padding-right: 200px;">
        <p *ngFor="let com of lstmodels" style="float: left; text-align: left;">{{com.body}}</p>
      </div>
      <div class="container">
        <img src="../assets/img/zurich.jpg" alt="Switzerland" class="img-rounded" style="height: 200px; width: 400px;">
        <strong style="font-size: 20px; float: left;font-size: 30px;">Switzerland</strong>
        <strong style="font-size: 20px;float: right; color: orange; padding-right: 20px;font-size: 30px;">$300</strong>
        <br>
        <br>
        <img src="../assets/img/starpic.PNG" alt="starpic" style="float: left; width: auto; padding-right: 200px;">
        <p *ngFor="let com of lstmodels" style="float: left; text-align: left;">{{com.body}}</p>
      </div>
      <div class="container">
        <img src="../assets/img/toronto.jpg" alt="Canada" class="img-rounded" style="height: 200px; width: 400px;">
        <strong style="font-size: 20px; float: left;font-size: 30px;">Canada</strong>
        <strong style="font-size: 20px;float: right; color: orange; padding-right: 20px;font-size: 30px;">$300</strong>
        <br>
        <br>
        <img src="../assets/img/starpic.PNG" alt="starpic" style="float: left; width: auto; padding-right: 200px;">
        <p *ngFor="let com of lstmodels" style="float: left; text-align: left;">{{com.body}}</p>
      </div>
    </div>
</div>
<p style="color: white;font-size: 30px;">holiday</p>
<div style="text-align: center;">
  <button type="button" class="btn btn-warning" style="height: 50px; width: 150px;text-align: center; background-color: orange;">More Places</button>
</div>
<div style="text-align: center;">
  <br>
  <br>
  <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 60px;">Feedback</h1>

  <div class="slideshow-container">

    <div class="mySlides">
      <img src="../assets/img/person1.PNG" alt="person1" class="rounded-circle" style="height: 150px;">
      <br>
      <br>
      <q *ngFor="let com of lstmodels">{{com.name}}</q>
      <br>
      <br>
      <img src="../assets/img/starpic2.PNG" alt="person1">
      <br>
      <br>
      <p class="author">- John Keats</p>
    </div>

    <div class="mySlides">
      <img src="../assets/img/person2.PNG" alt="person2" class="rounded-circle" style="height: 150px;">
      <br>
      <br>
      <q *ngFor="let com of lstmodels">{{com.name}}</q>
      <br>
      <br>
      <img src="../assets/img/starpic2.PNG" alt="person2">
      <br>
      <br>
      <p class="author">- Ernest Hemingway</p>
    </div>

    <div class="mySlides">
      <img src="../assets/img/person3.PNG" alt="person3" class="rounded-circle" style="height: 150px;">
      <br>
      <br>
      <q *ngFor="let com of lstmodels">{{com.name}}</q>
      <br>
      <br>
      <img src="../assets/img/starpic2.PNG" alt="person3">
      <br>
      <br>
      <p class="author">- Thomas A. Edison</p>
    </div>


    </div>

    <div class="dot-container">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
<script src="../assets/js/custom.js"></script>
</div>

<br>
<br>
<div>
  <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 60px; text-align: center;">Latest Stories</h1>
  <div class="therow">
    <div class="thecolumn">
      <img src="../assets/img/travelpic1.jpg" alt="travelpic1" class="img-rounded" style="height: 261px;text-align: left;">
      <br>
      <p style="color: grey; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15px; float: left;  padding-left: 5px;">
        Apr 2 2020</p>
        <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; float: left;  padding-left: 5px;">Live with no excuses and travel with no regrets</h1>
    </div>
    <div class="thecolumn">
      <img src="../assets/img/travelpic2.jpg" alt="travelpic2" class="img-rounded" style="height: 261px;">
      <br>
      <p style="color: grey; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15px; float: left; padding-left: 5px;">
        Apr 9 2020</p>
        <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; float: left; padding-left: 5px;">We travel not to escape life but for life not to escape us</h1>
    </div>
    <div class="thecolumn">
      <img src="../assets/img/travelpic3.jpg" alt="travelpic3" class="img-rounded" style="height: 261px;">
      <br>
      <p style="color: grey; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15px; float: left; padding-left: 5px;">
        Apr 14 2020</p>
        <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; float: left; padding-left: 5px;">People don't take trips, trips take people</h1>
    </div>
  </div>
</div>
<br>
<br>
<div style="text-align: center;">
  <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 30px;">Subscribe to our newsletter</h1>
  <p style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
    Please enter a valid email address to subscribe to our newsletter</p>
  <form #subform="ngForm" (ngSubmit)="subclick(subform)">
  <table style="font-family: Arial, Helvetica, sans-serif;margin-left:auto;margin-right:auto;">
  <tr>
    <td>
      <div class="form-group" [class.has-error]="subemail.invalid && subemail.touched">
      <input type="email" required email id="subemail" name="subemail"
      placeholder="Enter email address" #subemail="ngModel"
      style="width: 400px; height: 50px; bottom: 80px; float: left;" class="form-control" ngModel
      #email="ngModel"/>
      <button type="submit"
       (click)="subclick()" [disabled]="!!subemail.errors?.email && subemail.touched"
       [disabled]="subform.invalid" class="btn btn-default"
       style="height: 49.5px; width: auto; float: left;">Subscribe</button>
       <br>
       <br>
       <span class="help-block" *ngIf="subemail.errors && subemail.errors.invalid && subemail.touched" style="color: red; float: left;">
        Email is required
      </span>
      <span class="help-block" *ngIf="subemail.errors && subemail.errors.email && subemail.touched" style="color: red; float: left;">
        Email is invalid
      </span>
    </div>
    </td>
  </tr>
  </table>
</form>
</div>
<br>
<br>
<div style="background-color: black; color: white; font-family: Arial, Helvetica, sans-serif;">
  <div class="therow" style="background-color: black; color: white; font-family: Arial, Helvetica, sans-serif;">
    <img src="../assets/img/downpic.PNG" alt="downpic" class="img-rounded" style="width: 100%;">
    <div class="thecolumns" style="width: 20%;">
      <h1 style="font-size: 20px;">Travel Me 360</h1>
      <br>
      <p style="font-size: 15px;">Our Company, Traveller Global Destinations & Leisure Holidays (Pvt) Ltd, functions under the stewardship of
        Mr. Ramzi Reyal, who is a respected and well-known personality in the travel & tourism industry. His ‘Hands-on’
        approach and personal involvement in all aspects of day-to-day operations is an asset to the company.
      </p>
    </div>
    <div class="thecolumns" style="padding-left: 100px;">
      <h1 style="font-size: 20px;">Explore more</h1>
      <br>
      <a style="color: white;" href="">Home</a>
      <br>
      <br>
      <a style="color: white;" href="">Flight</a>
      <br>
      <br>
      <a style="color: white;" href="">Promotions</a>
      <br>
      <br>
      <a style="color: white;" href="">Destinations</a>
      <br>
      <br>
      <a style="color: white;" href="">Holidays</a>
      <br>
      <br>
      <a style="color: white;" href="">About Us</a>
      <br>
      <br>
      <a style="color: white;" href="">Contact Us</a>
    </div>
    <div class="thecolumns" style="padding-left: 100px;">
      <h1 style="font-size: 20px;">Get in Touch</h1>
      <br>
      <p style="font-size: 15px;">1313 ABC, Anaheim,<br>San Fransisco, California, USA<br><br>
        +23 511 165 456<br><br>info@travelme360.com<br></p>
      <img src="../assets/img/socialicon.png" alt="socialicon" class="img-rounded" style="height: 100px; width: 100px;">
    </div>
    <div class="thecolumns" style="padding-left: 100px;">
      <h1 style="font-size: 20px;">We Support</h1>
      <br>
      <img src="../assets/img/supportpic.jpg" alt="wesupport" class="img-rounded" style="height: 200px; width: 300px;">
    </div>
  </div>
  <p style="text-align: center;">_______________________________________________________________________________________________________________________________</p>
  <br>
    <div style="background-color: black; color: white; font-family: Arial, Helvetica, sans-serif;">
    <div class="therow" style="background-color: black; color: white; font-family: Arial, Helvetica, sans-serif;">
      <div class="thecolumn" style="padding-left: 210px;">
        <p style="font-size: 13px;">2020 Travel Me 360. All Right Reserved</p>
      </div>
      <div class="thecolumn" style="padding-left: 190px;">
        <a style="font-size: 13px; color: white;" href="">Privacy & Terms</a>
      </div>
      <div class="thecolumn" style="padding-left: 100px;">
        <a style="font-size: 13px; color: white;" href="">Terms & Conditions</a>
      </div>
      <br>
      <br>
      <br>
    </div>
    </div>
</div>
